## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.svn
*.log

# Ignore dotfiles apart from ones we care about
**/.*
!.dockerignore
!.editorconfig
!.eslintignore
!.eslintrc.json
!.gitignore
!.npmignore
!.prettierrc.js

# IntelliJ
*.iml

# NodeJS
/node_modules/

# Local configuration
/config/*
!/config/example.json5

# Build output
/build/
